.footer {
    position: fixed;
    width: 100%;
    background-color: white;
    color: rgb(68, 68, 250);
    text-align: center;
    bottom: 0;
    padding: 15px 0px 15px 0;
    border-top: solid 6px gray;
}

.nav-link {
    margin-left: 1px;
}

@media screen and (max-width: 767px) {
    #name {
        width: 100%;
        text-align: center;
    }
    #refs {
        width: 100%;
        text-align: center !important;
    }
}

#list li {
    display: inline;
}

#list {
    padding: 0;
    margin: 0;
}

#name {
    margin: 0;
    background-color: orangered;
    color: whitesmoke;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}

#navbar {
    border-bottom: solid 6px gray;
}

body {
    background-color: darkgrey;
}

.card {
    margin: .5rem !important;
}

.row {
    margin: 10px 0;

}